@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap');


:root{
--soft_red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark_desaturated__cyan: hsl(167, 40%, 24%);
--Dark_blue: hsl(198, 62%, 26%);
--Dark_moderate_cyan: hsl(168, 34%, 41%);
--Very_dark_desaturated_blue: hsl(212, 27%, 19%);
--Very_dark_grayish_blue: hsl(213, 9%, 39%);
--Dark_grayish_blue: hsl(232, 10%, 55%);
--Grayish_blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 18px;
    font-family: 'Fraunces', serif;
    margin: 0%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* GLOBAL STYLES */
ul{
    list-style: none;
}
a{
   text-decoration: none;
}
.btn{
    margin: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 3rem;
  
}

/* HEADER STYLES STARTS */

.header{
 
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}
.header-nav{
    width: 90%;
}
.mobile-image{
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.desktop-image{
      display: none;
}
.header-nav{
    position: relative;
    top:0;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 1rem ;
    width: 90%;
    margin: 0 auto;
    
}
.hamburger{
    position: absolute;
    top:1.2rem;
    right: .5rem;
    color: azure;
    font-size: 2rem;
}


.navigation{
    display:flex;
    position: absolute;
    top: 20%;
    right: 10%;
    width:85% ;
    align-items: center;
    background-color:white;
    height:60%;
    /* margin: 0 auto; */
    display:none;
    z-index: 30;
    display: block;
    text-align: center;
    display:none;
}
.text-contents{
    position:absolute;
    width: inherit;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

 .text-contents .main-heading h1 {
        font-size:2.8rem;
        color: white;
        font-family: 'Fraunces', serif;
        letter-spacing: 0.6rem;
}


.arrow-down{
    margin-top: 6rem;
}


.navigation::before{
    content: '';
    height: 0;
    border-right: 30px solid white;
    border-top: 30px solid transparent;
    position: absolute;
    top:-1.6rem;
    right: 0;
}
.nav-item{
   padding:1rem;
   text-transform:capitalize;
}
.arrow-down{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* transform section starts here */
.transform-content{
    display: flex;
    flex-direction: column;
}
.egg-image img{
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
.transform-heading{
    margin:1rem 0;
    text-align: center;
}
.transform-heading h1{
    text-transform: capitalize;
    font-size: 1.5rem;
    letter-spacing:1px;
  
}
.transform-content p{
    margin: 0.5rem 0rem;
    line-height: ;
    text-align: center;
    padding: 1rem 0.6rem;
    font-size: 1rem;
    color:var(--Grayish_blue);
}

 /* cup styling starts here */
            
 .cup-image  img{
    /* background-position:center;
    background-size:cover;
    /* background-repeat: no-repeat; */
    height: 100%;
    width: 100%;
}
.cup-heading{
    margin:1rem 0 0.4rem 0;
    text-align: center;
    padding: 1rem;
  
}
.cup-heading h1{
    text-transform: capitalize;
    font-size: 1.6rem;
    letter-spacing:
}

.cup-content p{  
    margin: 0px auto;
    text-align:center;
    font-size: 0.9rem;
    color:var(--Grayish_blue);
    /* width: 70%; */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       

}

/* desciption section starts here */
.description-content{
    position: relative;
}
.description-content .image img{
    width: 100%;
    height: 45rem;
    display: block;
   
}

.text-content2{
    position:absolute;
    width:100%;
    top: 70%;
    /* bottom: 5%; */
    text-align: center;
}

 .text-content2 h1 {
    font-size:1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: .5rem;
    text-align: center;
}

.text-content2 p {
    line-height: 1.4 ;
    padding: 1rem;
    color:var(--Grayish_blue);
    width: 100%;
    text-align: center;
    
}

/* testimonials styling */
.testimony-1{
    text-align: center;
    margin-bottom: 4rem;
}
.testimony-section{
    margin: 1rem 0;
    text-align: center;
}
.testi-heading {
   padding: 3rem 1rem;
   text-align: center;

}
.testi-heading h1{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing:5px;
    color:var(--Dark_grayish_blue);
    
}

.testi-image{
    
    display: flex;
    justify-content: center;
}

.testi-image img{
    border-radius: 50%;
}

.testimony-1  p{
    padding:1rem 0.5rem;
    color:var(--Grayish_blue);
    text-align: center;
}

.testimony-1 h2{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.4rem;
}
.testimony-1 h1{
    font-size: 0.7rem;
    color: var(--Grayish_blue);
   
}

/* images area styling starts here */


.images-section{
    display: flex;
    flex-wrap: wrap;
}
.img{
    width: 50vw;
}
/* footer styling starts here */

footer{
    background-color: var(--Dark_moderate_cyan);
}
.footer-container{

    width: 80vw;
    margin: 0rem auto;
}
.footer-heading{
  color:var(--Dark_desaturated__cyan);
  padding: 2rem 0rem 0rem 0rem;
}
.footer-heading h1{
    text-align: center;
    font-size: 2rem;
   
}
.main-nav{
    display: flex;
    padding: 1.3rem 0rem 0 0;
    justify-content: center;
}
.main-items{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-links{
    text-transform: capitalize;
    color:var(--Dark_desaturated__cyan);
    text-decoration: none;
}
.icons-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    margin-bottom: rem;
}
.icon{
    color:var(--Dark_desaturated__cyan);
    padding: 0rem 0.5rem;
    font-size: 1rem;
}
.icon a:hover  {
    cursor: pointer;
   color:var(--White);
}

@media ( min-width:699px ){
    .transform-content p{
        width:80%;
        text-align: center;
        margin: 0 auto;
    }

    .cup-content p{
        width: 80%;
        margin:0 auto;
        font-size: 1rem;
    }
    .description-content{
        position: relative;
    }
    .description-content .image img{
        height: 40rem;
        background-position: center;
        background-size: cover;
    }
  .description-content .text-content {
      position: absolute;
      bottom: 10;
  }
 .testimony-section p{
     width: 70%;
     margin:0 auto;
 }
     
}

@media ( min-width:1050px ) {
    .desktop-image{
        display: block;
        position:absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mobile-image{
        display: none;
    }
    header{
        height: 100vh;
        width: 100vw;
    }
    .text-contents{
        top: 14rem;
    }
    .header-nav{
        display: flex;
        width: 100%;
    }
    .main-heading{  
        top: 30%;
    }
   .main-heading h1{
       text-transform: uppercase;
   }
     .hamburger{
         display: none;
     }
     .navigation{
            position: relative;
            display:inline-block;
            background: none;
            height: inherit;
            width: 60%;
            right: -50%;
            
     }

     .nav-menu{
         display: flex;
     }
     .navigation .nav-item{
         display: inline-block;
        
     }
     .nav-item{
         color:var(--White);
         
         
     }
     .arrow-down{
         margin-top: 10rem;
     }

     .nav-itemss{
         background-color:var(--White);
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 1.6rem;
         padding: .1rem 1.5rem;
         height: 3rem;
         transition: all .2s ease-in;
     }
     .nav-itemss:hover{
         background-color:rgba(255, 255, 255, 0.377);
     }

    .navigation::before{
        display: none;
    }

    .nav-item .btn a{
        background:var(--White);
        padding: 0.5rem;  

    }

    .transform-content{
        display: flex;
        flex-direction: row;
        

    }
    .egg-image{
        width: 50%;
        order: 1;
    }
    .transform-heading{
        width: 50%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .transform-heading h1{
        font-size: 2rem;
        width:15rem;
        text-align: left;
    }
    .transform-heading p{
        margin: 1rem 0;
        padding: 0;
        text-align: left;
    }

    .block{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        padding: 1rem;
    }
    .cup-heading{
        width: 50%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cup-heading h1{
       font-size:2.1rem;
       text-align: left;
    }
     .cup-heading p{
       margin: 1rem 0;
       padding: 0;
       text-align:left;
     }


    
    .cup-content{
        display: flex;
    }
      
    .cup-image{
        width: 50%;
    }
    .cup-heading{
        width: 50%;
    }
    .flex__contain{
        display: flex;
        flex-direction: row;
    }
    .flexx__contain{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width:70%;
        margin: 0 auto;
    }

    .testimony-1{
        width: 35%;
        flex: 0 0 auto;
    }


    .text-content2{
        width: 100%;
        margin: 0 auto;
        padding: 0 5rem;
    
    }
    
    .testimony-1 p{
        font-size: .8rem;
    }
    .images-section{
        display: flex;
        flex-direction: row;
       
    }
    .img{
        max-width: 25%;
    }

    
     
    }





